<div bg-light class="marg">
  <div class="container-fluid text-center">
    <img src="../assets/dinner.jpg" class="img-fluid">
  </div>
  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">
        <img src="../assets/logo.png" height="30" width="30" class="d-inline-block align-top" alt="">
        <span id="sitename">whatsfordinner?</span></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <div class="input-group mt-2">
              <div class="dropdown">
                <input class="dropdown-toggle border text-left mousetext input-group input" type="text" id="search"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" (input)="search()" (keyup.enter)="navSearch()"
                  [(ngModel)]="term">
                <div class="dropdown-menu" aria-labelledby="search">
                  <ng-container *ngFor="let recipe of searchHelp; let i=index">
                    <span class="dropdown-item pointer" *ngIf="i<5" (click)="fill(recipe.name)">{{recipe.name}}</span>
                  </ng-container>
                </div>
              </div>
              <!-- Button trigger modal -->
              <button type="button" 
                class="btn btn-outline-secondary" 
                data-toggle="modal" 
                data-target="#ingredients"
                (click)="newSearch()">
                Search by ingredient
              </button>

              <!-- Modal -->
              <div class="modal fade" id="ingredients" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Ingredients</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <app-ingredient-list></app-ingredient-list>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="navSearchIngredient()">Search</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="p-2 pointer resfont" (click)="navSearch()">
                <i class="fas fa-search"></i>
              </div>
            </div>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0 ml-4">
          <div class="m-1 pointer resfont">
            <i class="fas fa-heart"></i>
          </div>
          <div class="m-1 pointer resfont">
            <i class="fas fa-bell"></i>
          </div>
          <ng-container *ngIf="!isAuth(); else displayUser">
            <div class="input-group pointer" (click)="goLogin()">
              <div class="input-group-prepend pl-4  float-center">
                <span class="input-group-text resfont"><i class="fas fa-user"></i></span>
                <span class="input-group-text resfont">Login</span>

              </div>
            </div>
          </ng-container>
        </form>
      </div>
    </nav>
  </div>
  <router-outlet></router-outlet>
</div>


<ng-template #displayUser>
  <div class="input-group float-center">
    <div class="input-group-prepend p-3">
      <span class="input-group-text resfont"><i class="fas fa-user"></i></span>
      <button class="btn btn-secondary dropdown-toggle" type="button" id="userMenu" data-toggle="dropdown">
        {{getUserName()}}
      </button>
      <div class="dropdown-menu resfont" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item resfont" href="#">View Profile</a>
        <a class="dropdown-item resfont" (click)="updateProfile()">Update Profile</a>
        <div class="dropdown-item resfont" (click)="goToFridge()">Fridge</div>
        <div class="dropdown-item resfont" (click)="createRecipe()">Add Recipe</div>
        <div class="dropdown-item resfont" (click)="logout()">Logout</div>
      </div>
    </div>
  </div>
</ng-template>