<div bg-light class="marg">
  <div class="container-fluid text-center">
    <img src="../assets/dinner.jpg" class="img-fluid">
  </div>
  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">
        <img src="../assets/logo.png" height="30" width="30" class="d-inline-block align-top" alt="">
        whatsfordinner?</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <div class="input-group mt-2">
              <input type="text" class="form-control" placeholder="" id="search">
              <div class="input-group-lg">
                <button class="btn btn-outline-secondary" type="button">Search by ingredient</button>
              </div>
            </div>
          </li>
          <li>
            <div>
              <button type="button" class="btn btn-default btn-lg">
                <i class="fas fa-search"></i>
              </button>
            </div>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <div>
            <button type="button" class="btn btn-default btn-lg">
              <i class="fas fa-heart"></i>
            </button>
            <button type="button" class="btn btn-default btn-lg">
              <i class="fas fa-bell"></i>
            </button>
          </div>
          <ng-container *ngIf="!isAuth(); else displayUser">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-user"></i></span>
                <span class="input-group-text"><a routerLink="login">Login</a></span>
              </div>
            </div>
          </ng-container>
        </form>
      </div>
    </nav>
  </div>
  <router-outlet></router-outlet>
</div>


<ng-template #displayUser>
  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text"><i class="fas fa-user"></i></span>
      <button class="btn btn-secondary dropdown-toggle" type="button" id="userMenu" data-toggle="dropdown">
        {{getUserName()}}
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <div class="dropdown-item" (click)="logout()">Logout</div>
      </div>
    </div>
  </div>
</ng-template>