body{
    margin-right: 15%;
    margin-left: 15%;
}
.marg{
    margin-right: 15%;
    margin-left: 15%;  
  }

  .pointer{
    cursor: pointer; 
 }

 @media screen and (min-width: 801px) {
    .resfont{
      font-size: 1.15vw;
    }
  }
  
  @media screen and (max-width: 800px) {
    .resfont{
      font-size: 15px;
    }
  }
